/* Global Styles */
@import "./global.css";

/* Layout */
@import "./layout.css";

/* Reusable Components */
@import "./components/navbar.css";
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/badges.css";
@import "./components/footer.css";
@import "./components/states.css";
@import "./components/utilities.css";

/* Page Specific Styles */
@import "./pages/hero.css";
@import "./pages/products.css";
@import "./pages/product-detail.css";
@import "./pages/contact.css";
@import "./pages/testimonials.css";
@import "./pages/auth.css";
